html,
body {
    width: 100%;
    height: 100%;
}

.g-doc {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    min-width: 1226px;
}

#main-page {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}













/** 
 * header
 * start
 */

.g-hd {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 30px 0 #ddd;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

.g-hd-logo {
    float: left;
    width: 44px;
    height: 40px;
    margin-left: 48px;
    margin-top: 12px;
}

.g-hd-logo img {
    width: 100%;
    height: 100%;
}

.g-hd-nav {
    float: left;
    margin-left: 52px;
}

.g-hd-nav ul {
    float: left;
    height: 64px;
}

.g-hd-nav ul li {
    float: left;
    margin-right: 44px;
    line-height: 64px;
}

.g-hd-nav li a:hover {
    color: #0DC2B8;
}

.g-hd-modal {
    width: 100%;
    height: 538px;
    background: #fff;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.g-hd-modal-con {
    width: 100%;
    height: 100%;
}

.g-hd-modal-l {
    width: 40%;
    height: 100%;
    background: #EFF6F6;
    padding-top: 54px;
    float: left;
    box-sizing: border-box;
}

.g-hd-modal-l ul {
    margin: 0 auto;
    width: 70%;
}

.g-hd-modal-l li {
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
}

.g-hd-modal-l li embed {
    float: right;
    margin-top: 12px;
    display: none;
}

.g-hd-modal-l .f-bg-main embed {
    display: block;
}

.g-hd-modal-l .f-bg-main a {
    color: #fff;
}

.g-hd-modal-l .f-bg-main a:hover {
    color: #fff;
}

.g-hd-modal-l li a:hover {
    color: #0DC2B8
}

.g-hd-modal-r {
    width: 60%;
    height: 100%;
    float: left;
    padding: 36px;
    box-sizing: border-box;
}

.g-hd-modal-r .pull-left,
.g-hd-modal-r .pull-right {
    width: 50%;
    height: 300px;
}














/** 
 * header
 * end
 */


/*body*/

.g-bd {}



.slogan {
    position: absolute;
    left: 30%;
    bottom: 30%;
}

.slogan dt {
    color: #50F83E;
    font-family: PingFangTC;
}

.slogan dd p {
    margin-top: 16px;
}

.slogan dd {
    margin-top: 48px;

    font-size: 24px;
    color: #fff;
}


#about-page .about .pull-left,
#about-page .about .pull-right {
    width: 606px;
    height: 400px;
    background: #fff
}

#about-page .about .pull-right .f-size-12 {
    line-height: 20px;
}

#about-page .culture .pull-left {
    width: 296px;
    height: 416px;
    background: #F3F7FD;
    border-radius: 8px;
    margin-right: 14px;
    box-sizing: border-box;
    padding: 36px 16px 0;
    text-align: center;
}

#about-page .culture .pull-left dt {
    font-size: 32px;
    margin-bottom: 64px;
}

#about-page .culture .pull-left dd p {
    font-size: 17px;
    margin-top: 50px;
}

#product-page .product-series li {
    margin-right: 48px;
    float: left;
}

#product-page .product-series li a {
    font-size: 16px;
}

#product-page .product-series li a:hover {
    color: #0DC2B8;
}

#product-page .product-intro li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#product-page .product-con .product-intro li {
    margin-right: 6px;
    margin-bottom: 6px;
}

#product-page .product-intro li a {
    width: 234px;
    height: 300px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
}


#product-page .product-intro li a:hover {
    color: #0DC2B8;
    box-shadow: 0px 0px 22px 1px #ccc;
}

#product-page .product-intro dt {
    margin-top: 23px;
}

#product-page .product-intro dd {
    line-height: 22px;
    margin-top: 26px;
}

.product-nav span {
    margin: 0 4px;
}

.product-nav a:hover {

    color: #0DC2B8;
}

#product-page .product-img {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    border: 1px solid RGBA(217, 217, 217, 1);
    border-radius: 8px;
    margin: 36px 0 24px;
    text-align: center;
}

#product-page .product-img img {
    width: 580px;
    height: 580px;
    margin-top: 120px;
}

#product-page .product-detail-t1 {
    font-size: 16px;
    color: RGBA(0, 0, 0, 0.85);
    margin-bottom: 30px;
}

#product-page .product-detail-t2 {
    font-size: 14px;
    color: RGBA(0, 0, 0, 0.65);
    margin-top: 20px;
    margin-bottom: 4px;
}

#product-page .product-detail-p {
    font-size: 14px;
    color: RGBA(0, 0, 0, 0.45);
    line-height: 20px;
}

#product-page .product-detail-con {
    margin-bottom: 40px;
}

#cooperation-page .cooperation-number {
    width: 296px;
    margin-right: 14px;
}

#cooperation-page .cooperation-number dt {
    height: 188px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 24px;
}

#cooperation-page .cooperation-number dt img {
    width: 220px;
    height: 56px;
    margin: 66px auto 0;
}

#cooperation-page .cooperation-number dd {
    font-size: 16px;
    margin-bottom: 10px;
}

#cooperation-page .cooperation-number dd a {
    font-size: 14px;
    color: #8b8b8b;
}

.news-box {
    padding: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
}

.news-box:hover {
    box-shadow: 0px 0px 16px 2px rgba(217, 217, 217, 1);
}

.news-box-left {
    margin-right: 36px;
}

.news-box-left img {
    width: 320px;
    height: 188px;
}

.news-box-mid {
    margin-top: 40px;
    width: 640px;
}

.news-box-mid dt {
    font-size: 16px;
    color: #0DC2B8;
    margin-bottom: 12px;
}

.news-box-mid dd {
    font-size: 14px;
    line-height: 22px;
}

.news-box-right {
    margin-top: 40px;
}

.news-box-right dt {
    font-size: 12px;
    margin-bottom: 12px;
}

.news-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.news-title dt {
    font-size: 16px;
    line-height: 24px;
}

.news-title dd {
    font-size: 12px;
    line-height: 20px;
    color: #ccc;
}


.news-img {
    margin-top: 16px;
    margin-bottom: 36px;
    width: 100%;
}


.news-h1 {
    color: RGBA(0, 0, 0, 0.85);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 56px;
}

.news-h2 {
    color: RGBA(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 26px;
}

.news-con {
    color: RGBA(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 46px;
}

.contact-box .pull-left {
    width: 33%;
    text-align: center;
}

.contact-box .pull-left dt {
    margin-bottom: 36px;
}

.contact-box .pull-left dd {
    margin-bottom: 10px;
    font-size: 14px;
    /*color: #ddd;*/
}

.contact-box .pull-left dd b {
    font-size: 20px;
}

.contact-box .pull-left img {

    height: 72px;
}

.contact-box2 {
    margin-bottom: 200px;
}

.contact-box2 .pull-left {
    width: 45%;
    text-align: center;
}

.contact-box2 dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.contact-box2 dd {
    color: RGBA(0, 0, 0, 0.45);
    font-size: 14px;
    margin-bottom: 26px;
}

.contact-box2 dd a {
    color: RGBA(13, 194, 184, 1);
}

.job-box-l {
    width: 296px;
    border-radius: 8px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 0 24px;
    box-sizing: border-box;
}

.job-box-l li {
    padding: 16px 0;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.job-box-l li a{
    font-size: 16px;
}

.job-box-l li a:hover{
    color: #0DC2B8;
}

.job-box-l li:last-child{
    border: 0;
}
.job-box-r {
    width: 916px;
    border-radius: 8px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 16px 50px 40px;
    box-sizing: border-box;
}
.job-box-r table{
    font-size: 16px;
   
}

.job-box-r table td{
     line-height: 24px;
    padding-bottom: 20px;
    color: #666;
}
.job-box-r table td b{
    color: #000;
}
.job-tag{
    width: 87px;
    vertical-align: top;
}

/*body end*/


/*footer*/

.g-ft {
    margin-top: 114px;
    width: 100%;
    height: 435px;
    background: rgba(243, 247, 253, 1);
    box-sizing: border-box;
    padding-top: 64px;
}

.g-ft-con {
    width: 25%;
    padding-left: 80px;
    box-sizing: border-box;
}

.g-ft-con dt {
    font-size: 20px;
    margin-bottom: 28px;
    font-weight: 600;
}

.g-ft-con dd {
    color: #7F7F7F;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 12px;
}

.g-ft-con dd a {
    color: #7F7F7F;
}

.g-ft-con .iconfont {
    font-size: 40px;
    margin-right: 10px;
}


.copyright {
    font-size: 12px;
    color: #7F7F7F;
    text-align: center;
}









/*footer end*/


/**
 * common
 */


/*主题色*/

.f-c-main {
    color: #0DC2B8;
}

.f-bg-main {
    background: #0DC2B8;
}












/*常用*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.clear {
    clear: both;
}











/*字体*/

.f-size-12 {
    font-size: 12px;
}











/*元件*/

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-color: white;
    margin-bottom: 64px;
}

.banner-slogan {
    color: #0DC2B8;
    font-size: 32px;
    position: relative;
    float: left;
}

.title-nav {}

.title-nav dt {
    font-size: 32px;
    margin-bottom: 16px;
}

.title-nav dd {
    font-size: 16px;
}

.title-link {
    margin-top: 36px;
}

.title-link span {
    color: RGBA(127, 127, 127, 1);
    font-size: 12px;
}

.title-link li {
    margin-bottom: 20px;
}


.title-link a:hover {
    color: RGBA(13, 194, 184, 1);
}

.title-link li span {
    float: right;
}

.title-img {
    margin-top: 100px;
}

.title-img img {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 8px;
}

.title-img p {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(127, 127, 127, 1);
    line-height: 20px;
    margin-bottom: 8px;
}

.title-img p a {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgba(13, 194, 184, 1);
    line-height: 24px;
}

.title-product {
    margin-top: 140px;
}

.title-product a {
    width: 30%;
    display: inline-block;
}

.title-product a img {
    width: 100%;
}

.title-product a dt {
    height: 180px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin-bottom: 24px;
}

.title-product a dt:hover {
    box-shadow: 0px 0px 11px rgba(217, 217, 217, 1);
}


.title-product a dd {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: rgba(13, 194, 184, 1);
    line-height: 24px;
}

.line {
    width: 100%;
    height: 1px;
    background: #E9E9E9;
    /*background:red;*/
}

.g-con {
    width: 100%;
}

.g-con-1 {
    margin: 0 auto;
    width: 1226px;
}

.g-con-tt1 {
    font-size: 20px;
    margin-top: 64px;
    margin-bottom: 36px;
}



.g-con-tt2 {
    font-size: 16px;
    margin-bottom: 24px;
}


.page {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 209px;
    display: inline-block;
}

.page ul {
    float: left;
}

.page li {
    float: left;
}

.page li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    margin-right: 8px;
}

.page li a:hover {
    background: rgba(13, 194, 184, 1);
    color: #fff;
}

.page li a.active {
    background: rgba(13, 194, 184, 1);
    color: #fff;
}

.btn {
    width: 87px;
    height: 32px;
    line-height: 32px;
    background: rgba(13, 194, 184, 1);
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.btn:after {
    content: ">";
}

.btn:hover {
    color: #ddd;
    background: rgb(39, 204, 195);
}