.g-doc {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    min-width: 1080px;
}




/** 
 * header
 * start
 */

.g-hd {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 30px 0 #ddd;
    box-sizing: border-box;
    position: relative;
}

.g-hd-logo {
    float: left;
    width: 44px;
    height: 40px;
    margin-left: 48px;
    margin-top: 12px;
}

.g-hd-logo img {
    width: 100%;
    height: 100%;
}

.g-hd-nav {
    float: left;
    margin-left: 52px;
}

.g-hd-nav ul {
    float: left;
    height: 64px;
}

.g-hd-nav ul li {
    float: left;
    margin-right: 44px;
    line-height: 64px;
}

.g-hd-modal {
    width: 100%;
    height: 538px;
    background: #ccc;
    position: absolute;
    top: 64px;
    left: 0;
}

.g-hd-modal-l {
    width: 40%;
    height: 100%;
    background: #EFF6F6;
    padding-top: 54px;
    float: left;
    box-sizing: border-box;
}

.g-hd-modal-l ul {
    margin: 0 auto;
    width: 70%;
}

.g-hd-modal-l li {
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
}
.g-hd-modal-l li embed{
        float: right;
    margin-top: 12px;
    display: none;
}
.g-hd-modal-l .f-bg-main embed{
    display: block;
}
.g-hd-modal-l .f-bg-main a{
    color: #fff;
}
.g-hd-modal-l .f-bg-main a:hover{
        color: #fff;
}
.g-hd-modal-l li a:hover {
    color: #0DC2B8
}

.g-hd-modal-r {
    width: 60%;
    height: 100%;
    float: left;
    padding: 36px;
    box-sizing: border-box;
}

.g-hd-modal-r .pull-left,.g-hd-modal-r .pull-right{
    width: 50%;
    height: 300px;
}



/** 
 * header
 * end
 */

.g-bd {}

.g-ft {}





/**
 * common
 */


/*主题色*/

.f-c-main {
    color: #0DC2B8;
}

.f-bg-main {
    background: #0DC2B8;
}
/*常用*/
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clear{
    clear: both;
}
/*元件*/

.title-nav{

}
.title-nav dt{
    font-size: 32px;
    margin-bottom: 16px;
}
.title-nav dd{
    font-size: 16px;
}