html,
body {
    width: 100%;
    height: 100%;
}

.g-doc {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    min-width: 1226px;
}

#main-page {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}






/** 
 * header
 * start
 */

.g-hd {
    width: 100%;
    height: 64px;
    box-shadow: 0 0 30px 0 #ddd;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

.g-hd-logo {
    float: left;
    width: 44px;
    height: 40px;
    margin-left: 48px;
    margin-top: 12px;
}

.g-hd-logo img {
    width: 100%;
    height: 100%;
}

.g-hd-nav {
    float: left;
    margin-left: 52px;
}

.g-hd-nav ul {
    float: left;
    height: 64px;
}

.g-hd-nav ul li {
    float: left;
    margin-right: 44px;
    line-height: 64px;
}

.g-hd-modal {
    width: 100%;
    height: 538px;
    background: #ccc;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;
}

.g-hd-modal-l {
    width: 40%;
    height: 100%;
    background: #EFF6F6;
    padding-top: 54px;
    float: left;
    box-sizing: border-box;
}

.g-hd-modal-l ul {
    margin: 0 auto;
    width: 70%;
}

.g-hd-modal-l li {
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
}

.g-hd-modal-l li embed {
    float: right;
    margin-top: 12px;
    display: none;
}

.g-hd-modal-l .f-bg-main embed {
    display: block;
}

.g-hd-modal-l .f-bg-main a {
    color: #fff;
}

.g-hd-modal-l .f-bg-main a:hover {
    color: #fff;
}

.g-hd-modal-l li a:hover {
    color: #0DC2B8
}

.g-hd-modal-r {
    width: 60%;
    height: 100%;
    float: left;
    padding: 36px;
    box-sizing: border-box;
}

.g-hd-modal-r .pull-left,
.g-hd-modal-r .pull-right {
    width: 50%;
    height: 300px;
}







/** 
 * header
 * end
 */


/*body*/

.g-bd {}



.slogan {
    position: absolute;
    left: 30%;
    bottom: 30%;
}

.slogan dt {
    color: #50F83E;
    font-family: PingFangTC;
}

.slogan dd p {
    margin-top: 16px;
}

.slogan dd {
    margin-top: 48px;

    font-size: 24px;
    color: #fff;
}


#about-page .about .pull-left,
#about-page .about .pull-right {
    width: 606px;
    height: 400px;
    background: #fff
}

#about-page .about .pull-right .f-size-12 {
    line-height: 20px;
}

#about-page .culture .pull-left {
    width: 296px;
    height: 416px;
    background: #F3F7FD;
    border-radius: 8px;
    margin-right: 14px;
    box-sizing: border-box;
    padding: 36px 16px 0;
    text-align: center;
}

#about-page .culture .pull-left dt {
    font-size: 32px;
    margin-bottom: 64px;
}

#about-page .culture .pull-left dd p {
    font-size: 14px;
    margin-top: 50px;
}

#product-page .product-series li {
    margin-right: 48px;
    float: left;
}

#product-page .product-series li a {
    font-size: 16px;
}

#product-page .product-series li a:hover {
    color: #0DC2B8;
}

#product-page .product-intro li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#product-page .product-intro li a {
    width: 234px;
    height: 300px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;

}

#product-page .product-intro li a:hover{
    color: #0DC2B8;
    box-shadow: 0px 0px 22px 1px #ccc;
}
#product-page .product-intro dt {
    margin-top: 23px;
}

#product-page .product-intro dd {
    line-height: 22px;
    margin-top: 26px;
}




/*body end*/


/*footer*/

.g-ft {
    margin-top: 114px;
    width: 100%;
    height: 435px;
    background: rgba(243, 247, 253, 1);
    box-sizing: border-box;
    padding-top: 64px;
}

.g-ft-con {
    width: 25%;
    padding-left: 80px;
    box-sizing: border-box;
}

.g-ft-con dt {
    font-size: 20px;
    margin-bottom: 28px;
    font-weight: 600;
}

.g-ft-con dd {
    color: #7F7F7F;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 12px;
}

.g-ft-con dd a {
    color: #7F7F7F;
}

.copyright {
    font-size: 12px;
    color: #7F7F7F;
    text-align: center;
}


/*footer end*/


/**
 * common
 */


/*主题色*/

.f-c-main {
    color: #0DC2B8;
}

.f-bg-main {
    background: #0DC2B8;
}





/*常用*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.clear {
    clear: both;
}




/*字体*/

.f-size-12 {
    font-size: 12px;
}




/*元件*/

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-color: white;
    margin-bottom: 64px;
}

.banner-slogan {
    color: #0DC2B8;
    font-size: 32px;
    position: relative;
}

.title-nav {}

.title-nav dt {
    font-size: 32px;
    margin-bottom: 16px;
}

.title-nav dd {
    font-size: 16px;
}

.line {
    width: 100%;
    height: 1px;
    background: #E9E9E9;
    /*background:red;*/
}

.g-con {
    width: 100%;
}

.g-con-1 {
    margin: 0 auto;
    width: 1226px;
}

.g-con-tt1 {
    font-size: 20px;
    margin-top: 64px;
    margin-bottom: 36px;
}

.g-con-tt1 {
    font-size: 20px;
    margin-bottom: 36px;
}

.g-con-tt2 {
    font-size: 16px;
    margin-bottom: 24px;
}


.page {
text-align: center;
}
.page ul{
    float: left;
}
.page li{
    float: left;
}
.page li a{
    width: 32px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    margin-right: 8px;
}